<h1>Annoying Aunty</h1>

<p>FORM ONE: GET</p>

  <form action="/cool_url" method="get">
       <p>What's your name <input type="text" name="apa_nama"></p>
    <p>tell me what are you looking at? <input type="text" name="anything"></p>
    <textarea cols="60" rows="10" name="mysadstory">Tell me your life story u sad mofo.</textarea>

<!-- THIS IS RADIO BUTTON -->
<br>
<!-- <center> -->
  what is your favourite dairy?<br>
  <input type="radio" name="group1" value="Milk" align="middle"> Milk<br>
  <input type="radio" name="group1" value="Butter" checked > Butter<br>
  <input type="radio" name="group1" value="Cheese"> Cheese
  <hr>
  <!-- shoot me -->
what is your favourite drink?<br>
  <input type="radio" name="group2" value="Water"> Water<br>
  <input type="radio" name="group2" value="Beer"> Beer<br>
  <input type="radio" name="group2" value="Wine" checked> Wine<br>
<br>
Are you sexy?<br>
  <input type="checkbox" name="group3" value="yes" > Yes<br>
  <input type="checkbox" name="group3" value="no" > No<br>
  <input type="checkbox" name="group3" value="maybe" > Maybe<br>
<!-- </center> -->
<br>
<select name="mydropdown">
Why did you come to codedivision?
  <option>I have nothing better to do</option>
  <option>Azeem kata ada banyak amoi</option>
  <option>JK kata ada banyak lengchai</option>
</select>
  <br><input type="submit" value="Your choice">

  </form>
  <BR>
<hr>















<p>FORM TWO: POST</p>
<br>
  <form action="/cool_url" method="post">
    <p>What's your name <input type="text" name="apa_nama"></p>
    <p>tell me what are you looking at? <input type="text" name="anything"></p>
    <textarea cols="60" rows="10" name="mysadstory">Tell me your life story u sad mofo.</textarea>

<!-- THIS IS RADIO BUTTON -->
<br>
<!-- <center> -->
  what is your favourite dairy?<br>
  <input type="radio" name="group1" value="Milk" align="middle"> Milk<br>
  <input type="radio" name="group1" value="Butter" checked > Butter<br>
  <input type="radio" name="group1" value="Cheese"> Cheese
  <hr>
  <!-- shoot me -->
what is your favourite drink?<br>
  <input type="radio" name="group2" value="Water"> Water<br>
  <input type="radio" name="group2" value="Beer"> Beer<br>
  <input type="radio" name="group2" value="Wine" checked> Wine<br>
<br>
Are you sexy?<br>
  <input type="checkbox" name="group3" value="yes" > Yes<br>
  <input type="checkbox" name="group3" value="no" > No<br>
  <input type="checkbox" name="group3" value="maybe" > Maybe<br>
<!-- </center> -->
<br>
<select name="mydropdown">
Why did you come to codedivision?
  <option>I have nothing better to do</option>
  <option>Azeem kata ada banyak amoi</option>
  <option>JK kata ada banyak lengchai</option>
</select>
  <br><input type="submit" value="Your choice">

  </form>



<p>URL parameters:</p>
<%= params %>